section.usp {
	width: 100%;
	$self: &;
	padding-block: 48px;

	--bg: var(--cl-white);
	--fg: var(--cl-black);
	--bg2: var(--cl-grey);
	--accent: var(--cl-primary);
	--accent-text: var(--cl-primary-text);

	background-color: var(--bg);
	color: var(--fg);

	@include tablet {
		// padding-inline: 48px 0;
	}

	@include desktop {
		padding-block: 48px;
		// padding-inline: 96px 0;
	}

	&--steps {
		.tns-ovh {
			overflow: visible;
		}
		.tns-outer {
			.tns-controls {
				margin-top: 24px;
				position: relative;
				transform: translate(0, 0);
				justify-content: flex-end;
				gap: 8px;
				top: auto;
				padding-right: 24px;

				@include tablet {
					padding-right: 48px;
				}
				@include desktop {
					padding-right: 96px;
				}
			}
		}
	}

	.usp__slider {
		&--steps {
			display: flex;
			margin-inline: auto;
			counter-reset: section;

			.tns-item {
				height: auto;
			}
			.usp__slide {
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				width: 100%;
				background-color: var(--bg2);
				padding-block: 96px;
				padding-inline: 16px;
				height: 100%;
				@include rectangle;

				@include tablet {
					padding-inline: 32px;
					padding-block: 128px;
				}

				p {
					color: var(--fg2);
					font-size: var(--fs-medium);
					line-height: var(--lh-medium);
					font-weight: var(--fw-medium);
					padding: 0 0 48px 0;
					position: relative;
					z-index: 1;
					text-align: center;

					@include tablet {
						font-size: var(--fs-large);
					}
				}

				&--first {
					background: var(--accent);

					p {
						color: var(--accent-text);
						font-size: var(--fs-large);
						font-family: var(--ff-primary);
						text-transform: uppercase;

						@include tablet {
							font-size: var(--fs-huge);
						}
					}
				}

				* {
					&:last-child {
						padding-bottom: 0;
					}
				}

				// counter
				h3 {
					position: absolute;
					top: 16px;
					left: 16px;
					width: 64px;
					height: 64px;
					line-height: 64px;
					text-align: center;
					border-radius: 50%;
					background: var(--cl-primary);
					color: var(--cl-primary-text);

					@include tablet {
						top: 32px;
						left: 32px;
					}

					&::before {
						counter-increment: section; /* Increment the value of section counter by 1 */
						content: counter(section);
					}
				}
			}

			&:not(.tns-slider) {
				width: max-content;
				gap: 2rem;
				padding-left: 2rem;
				> div {
					width: 400px;
				}
			}
		}

		&--points {
			display: flex;

			.usp__slide {
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				height: 40px;
				display: flex;
				flex-direction: row;
				align-items: center;

				p {
					position: relative;
					width: max-content;
					padding: 0 0 0 48px;
					font-weight: var(--fw-medium);
					color: inherit;

					&:before,
					&::after {
						content: '';
						position: absolute;
						top: calc(50% - 20px);
						left: 0;
						width: 40px;
						height: 40px;
						@include square;
					}

					&::after {
						border: 2px solid currentColor;
					}

					&::before {
						mask-size: 16px 16px;
						mask-repeat: no-repeat;
						mask-position: center;
						mask-image: url(../img/icons/check-regular-primary.svg);
						background-color: currentColor;
						transition: 0.25s mask-image ease-in-out,
							0.25s border ease-in-out;
						@include square;
					}
				}
			}

			&:not(.tns-slider) {
				justify-content: center;
				width: 100%;
				gap: 2rem;
			}
		}
	}

	.tns-outer {
		--slider-bg: var(--bg);
		--slider-fg: var(--fg);
		--slider-accent: var(--fg);
		--slider-accent-text: var(--bg);
	}

	// background

	&.usp--grey {
		--bg: var(--cl-grey);
		--fg: var(--cl-black);
		--bg2: var(--cl-white);
	}

	&.usp--black {
		--bg: var(--cl-black);
		--fg: var(--cl-white);
		--bg2: var(--cl-grey);
		--fg2: var(--cl-black);
		--accent: var(--cl-white);
		--accent-text: var(--cl-black);
	}

	&.usp--primary {
		--bg: var(--cl-primary);
		--fg: var(--cl-primary-text);
		--bg2: var(--cl-white);
		--fg2: var(--cl-black);
		--accent: var(--cl-white);
		--accent-text: var(--cl-black);
	}

	&.usp--secondary {
		--bg: var(--cl-secondary);
		--fg: var(--cl-white);
		--bg2: var(--cl-white);
		--fg2: var(--cl-black);
		--accent: var(--cl-white);
		--accent-text: var(--cl-black);
	}
}
