section.usp {
	$self: &;
    padding-block: 48px;

    padding-inline: 16px 0;

            @include tablet{
                padding-inline: 48px 0;
            }

            @include desktop{
                padding-inline: 96px 0;
            }

    &--steps{
        .tns-outer{

            .tns-controls {
                justify-content: flex-end;
                gap: 8px;
                top: auto;
                bottom: 16px;

                @include tablet{
                    padding-right: 48px;
                }
                
                button{
                    background-color: var(--cl-primary);
                    
                    &:disabled{
                        pointer-events: none;
                        opacity: .24;
                    }
                }
            }
        }
    }

    .usp__slider {

        // .tns-inner{
        //     display: flex;
        //     align-items: center;

        //     @include desktop {
        //         // display: inline-block;
        //     }
        // }

        &--steps{
            display: flex;
            margin-inline: auto;
            counter-reset: section;
            
    
            // .owl-item {
            //     display: flex;
            //     // background: var(--cl-white);

            //     // &:last-of-type{
            //     //     opacity: 0;
            //     //     background-color: none;
            //     // }
            // }
    
            
            .tns-item{
                // min-height: 100%;
                height: auto;

                .usp__slide{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    width: 100%;
                    background-color: var(--cl-secondary-rgba);
                    padding-block: 96px;
                    padding-inline: 16px;
                    height: 100%;
                    @include rectangle;

                    @include tablet {
                        padding-inline: 32px;
                        padding-block: 128px;
                    }
    
                    p {
                        color: var(--cl-black);
                        font-size: var(--fs-medium);
                        line-height: var(--lh-medium);
                        font-weight: var(--fw-medium);
                        padding: 0 0 48px 0;
                        position: relative;
                        z-index: 1;
                        text-align: center;

                        @include tablet {
                            font-size: var(--fs-large);
                        }
                    }

                    &--first {
                        background: var(--cl-primary);
                        
                        p {
                            color: var(--cl-white);
                            font-size: var(--fs-large);
                            font-family: var(--ff-primary);
                            text-transform: uppercase;

                            @include tablet {
                                font-size: var(--fs-huge);
                            }
                        }

                        * {
                            color: var(--cl-white);
                        }
                    }

                    * {
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }

                    h3 {
                        position: absolute;
                        top: 16px;
                        left: 16px;
                        width: 64px;
                        height: 64px;
                        line-height: 64px;
                        text-align: center;
                        border-radius: 50%;
                        background: var(--cl-primary);
                        color: var(--cl-white);

                        @include tablet {
                            top: 32px;
                            left: 32px;
                        }

                        &::before{
                            counter-increment: section; /* Increment the value of section counter by 1 */
                            content: counter(section);
                        }
                    }
                }
            }
        }

        &--points{
            .owl-stage-outer{
                overflow: visible;
            }

            .owl-item {
                &.center {

                    p {
                        
                        &:before {
                            animation: pulse 0.5s 1 0.5s;
                        }
                    }
                }

                .usp__slide {
                    padding: 0 16px;
                    display: flex;
                    justify-content: center;
            
                    @include tablet {
                        padding: 0 48px;
                    }
            
                    @include desktop {
                        padding: 0;
                    }
            
                    p {
                        position: relative;
                        padding: 0 0 0 64px;
                        font-weight: var(--fw-medium);
                
                        &:before,
                        &::after {
                            content: '';
                            position: absolute;
                            top: calc(50% - 20px);
                            left: 0;
                            width: 40px;
                            height: 40px;
                            @include square;
                        }

                        &::after{
                            border: 2px solid var(--cl-secondary);
                        }

                        &::before{
                            mask-size: 16px 16px;
                            mask-repeat: no-repeat;
                            mask-position: center;
                            mask-image: url(../img/icons/check-regular-primary.svg);
                            background-color: var(--cl-secondary);
                            transition: 0.25s mask-image ease-in-out, 0.25s border ease-in-out;
                            @include square;
                        }
                    }
                }
            }
        }
    }
    
    // background

    &.usp--grey {
        background: var(--cl-grey);
    }

    &.usp--black {
        background: var(--cl-black);
        color: var(--cl-white);

        .usp__slider--steps{
            .usp__slide{ 
                background-color: var(--cl-white);

                &--first{
                    background: var(--cl-secondary);

                    p{
                        color: var(--cl-white);
                    }
                }
            }
        }

        // p {
    
        //     &:before {
        //         border: 2px solid var(--cl-primary);
        //         background-image: url(../img/icons/check-regular-secondary.svg);
        //     }
        // }
    }

    &.usp--primary {
        background: var(--cl-primary);
        color: var(--cl-white);

        .usp__slider--steps{
            .usp__slide{ 
                background-color: var(--cl-white);

                &--first{
                    background: var(--cl-grey);

                    p{
                        color: var(--cl-primary);
                    }
                }
            }
        }

        .usp__slider--points{
            p {
                &::before{
                    background-color: var(--cl-white)!important;
                }

                &::after {
                    border-color: var(--cl-white)!important;
                }
            }
        }
    }

    &.usp--secondary {
        background: var(--cl-secondary);
        color: var(--cl-white);

        .usp__slider--steps{
            .usp__slide{ 
                background-color: var(--cl-white);

                &--first{
                    background: var(--cl-primary);

                    p{
                        color: var(--cl-grey);
                    }
                }
            }
        }

        usp__slider--points{
            p {
                &::before{
                    background-color: var(--cl-white)!important;
                }
                
                &::after {
                    border-color: var(--cl-white)!important;
                }
            }
        }
    }
}