footer.footer {
	.footer__topmenu {
		background: var(--cl-black);
		color: var(--cl-white);

		.wrapper {
			display: flex;
			align-items: center;
		}

		.footer__logo {
			height: 128px;
			position: relative;
			display: flex;
			align-items: center;
			margin-right: auto;

			a {
				img {
					height: auto;
					max-height: 80px;
					width: auto;
					max-width: 200px;
					position: relative;

					@include tablet {
						max-width: 280px;
					}
				}
			}
		}

		.footer__social {
			display: none;

			@include desktop {
				display: block;
			}

			ul {
				display: flex;
				margin: 0 0 0 48px;
				padding: 0 96px 0 0;

				@include tablet {
					padding: 0 112px 0 0;
				}

				li {
					margin: 0 8px 0 0;

					@include tablet {
						margin: 0 24px 0 0;
					}

					&:last-of-type {
						margin: 0;
					}

					a {
						display: block;
						position: relative;
						height: 40px;
						width: 40px;
						overflow: hidden;
						transition: 0.25s all ease-in-out;
						line-height: 40px;
						white-space: nowrap;
						color: var(--cl-white);
						border: 2px solid currentColor;
						@include square;

						&:before {
							content: '';
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							width: 40px;
							height: 40px;
							background-color: currentColor;
							mask-size: 16px 16px;
							mask-repeat: no-repeat;
							mask-position: center;
							transition: 0.25s background-color ease-in-out,
								0.25s border ease-in-out;
						}

						&.facebook {
							&:before {
								mask-image: url(../img/icons/facebook-f-brands-white.svg);
							}
						}

						&.twitter {
							&:before {
								mask-image: url(../img/icons/twitter-brands-white.svg);
							}
						}

						&.linkedin {
							&:before {
								mask-image: url(../img/icons/linkedin-in-brands-white.svg);
							}
						}

						&.instagram {
							&:before {
								mask-image: url(../img/icons/instagram-brands-white.svg);
							}
						}

						&.youtube {
							&:before {
								mask-image: url(../img/icons/youtube-brands-white.svg);
							}
						}

						&:hover {
							border: 2px solid var(--cl-secondary);
							&:before {
								cursor: pointer;
								background-color: var(--cl-secondary);
							}
						}
					}
				}
			}

			&.menu-button {
				ul {
					padding: 0 96px 0 0;

					@include tablet {
						padding: 0 112px 0 0;
					}
				}
			}
		}
	}

	.footer__mainmenu {
		background: var(--cl-primary);
		color: var(--cl-primary-text);

		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.footer__social {
			@include desktop {
				display: none;
			}

			ul {
				display: flex;
				margin: 48px 0 48px 0;

				li {
					margin: 0 8px 0 0;

					@include tablet {
						margin: 0 24px 0 0;
					}

					&:last-of-type {
						margin: 0;
					}

					a {
						display: block;
						position: relative;
						height: 40px;
						width: 40px;
						overflow: hidden;
						transition: 0.25s all ease-in-out;
						line-height: 40px;
						color: var(--cl-primary-text);
						white-space: nowrap;
						border: 2px solid currentColor;
						@include square;

						&:before {
							content: '';
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							width: 40px;
							height: 40px;
							background-color: currentColor;
							mask-size: 16px 16px;
							mask-repeat: no-repeat;
							mask-position: center;
							transition: 0.25s background-color ease-in-out,
								0.25s border ease-in-out;
						}

						&.facebook {
							&:before {
								mask-image: url(../img/icons/facebook-f-brands-white.svg);
							}
						}

						&.twitter {
							&:before {
								mask-image: url(../img/icons/twitter-brands-white.svg);
							}
						}

						&.linkedin {
							&:before {
								mask-image: url(../img/icons/linkedin-in-brands-white.svg);
							}
						}

						&.instagram {
							&:before {
								mask-image: url(../img/icons/instagram-brands-white.svg);
							}
						}

						&.youtube {
							&:before {
								mask-image: url(../img/icons/youtube-brands-white.svg);
							}
						}

						&:hover {
							border: 2px solid var(--cl-secondary);
							&:before {
								cursor: pointer;
								background-color: var(--cl-secondary);
							}
						}
					}
				}
			}

			&.menu-button {
				ul {
					padding: 0 96px 0 0;

					@include tablet {
						padding: 0 112px 0 0;
					}
				}
			}
		}

		.footer__disclaimer {
			padding: 0 0 48px 0;

			@include desktop {
				display: flex;
				justify-content: center;
				padding: 48px 0;
			}

			ul {
				position: relative;

				&:not(:last-of-type) {
					margin: 0 0 48px 0;
				}

				@include tablet {
					display: flex;
					justify-content: center;
				}

				@include desktop {
					&:not(:last-of-type) {
						margin: 0 24px 0 0;
						padding: 0 32px 0 0;

						&:after {
							content: '';
							position: absolute;
							right: 0;
							top: 50%;
							transform: translateY(-50%);
							width: 8px;
							height: 8px;
							border: 2px solid currentColor;
							@include square;
						}
					}
				}

				li {
					text-align: center;

					@include tablet {
						&:not(:last-of-type) {
							margin: 0 24px 0 0;
							padding: 0 32px 0 0;
							position: relative;

							&:after {
								content: '';
								position: absolute;
								right: 0;
								top: 50%;
								transform: translateY(-50%);
								width: 8px;
								height: 8px;
								border: 2px solid var(--cl-white);
								@include square;
							}
						}
					}

					a {
						color: inherit;
					}
				}

				&.address {
					li {
						@include tablet {
							&:not(:last-of-type) {
								margin: 0;
								padding: 0;

								&:after {
									content: ', ';
									white-space: pre;
									position: relative;
									right: 0;
									top: auto;
									transform: translateY(-50%);
									width: auto;
									height: auto;
									border: 0px;
									@include square;
								}
							}
						}
					}
				}
			}
		}
	}
}

.wpml-ls-statics-footer{
	display: none;
}