.header {
	$self: &;
	position: relative;
	z-index: 999;

	&__topmenu {
		background: var(--cl-black);

		#{$self}__submenu {
			ul {
				display: flex;
				justify-content: flex-end;
				padding: 16px 0;

				li {
					margin: 0 8px 0 0;

					@include tablet {
						margin: 0 24px 0 0;
					}

					&:last-of-type {
						margin: 0;
					}

					a {
						display: block;
						position: relative;
						height: 40px;
						width: 40px;
						overflow: hidden;
						padding: 0 0 0 40px;
						transition: 0.25s all ease-in-out;
						line-height: 40px;
						color: var(--cl-white);
						white-space: nowrap;

						svg {
							width: 40px;
							height: 40px;
							padding: 12px;
							position: absolute;
							top: 0;
							left: 0;
							color: var(--cl-white);
							transition: 0.25s all ease-in-out;
						}

						&:before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 40px;
							height: 40px;
							border: 2px solid var(--cl-white);
							transition: 0.25s all ease-in-out;
							@include square;
						}

						&:hover {
							cursor: pointer;

							&::before {
								border: 2px solid var(--cl-primary);
							}

							svg {
								color: var(--cl-primary);
							}
						}

						&.phone {
							@include tablet {
								padding: 0 0 0 64px;
								width: auto;
							}
						}
					}
				}
			}

			&.menu-button {
				ul {
					padding: 0 96px 0 0;

					@include tablet {
						padding: 0 112px 0 0;
					}
				}
			}
		}
	}

	&__mainmenu {
		.wrapper {
			display: flex;
			align-items: center;
		}

		#{$self}__logo {
			height: 128px;
			position: relative;
			display: flex;
			align-items: center;
			margin-right: auto;

			a {
				img {
					height: auto;
					max-height: 80px;
					width: auto;
					max-width: 200px;
					position: relative;

					@include tablet {
						max-width: 280px;
					}
				}

				h1 {
					padding-bottom: 0 !important;
					max-width: 200px;
				}
				span.subtitle {
					max-width: 200px;
				}
			}
		}

		#{$self}__menu {
			display: none;

			ul:not(.children),
			ul:not(.sub-menu) {
				display: flex;
				align-items: center;
				margin: 0 0 0 48px;

				li {
					margin: 0 24px 0 0;

					&:last-of-type {
						margin: 0;
					}

					a {
						color: rgba(var(--cl-black), 0.5);
						transition: 0.25s all ease-in-out;
						white-space: nowrap;
						@include transition;

						> &:hover {
							color: var(--cl-secondary);
						}
					}

					&.current-menu-item,
					&.current-menu-parent,
					&.current-menu-ancestor{
						a {
							color: var(--cl-secondary);
						}
					}

					&.page_item_has_children,
					&.menu-item-has-children {
						position: relative;
					}

					.children,
					.sub-menu {
						position: absolute;
						top: calc(100% + 48px);
						left: 50%;
						translate: -50% 0;

						padding: 1rem;
						@include rectangle;
						border-top-left-radius: 0;
						border-top-right-radius: 0;
						background-color: var(--cl-white);
						color: var(--cl-dark);

						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: 1rem;
						width: fit-content;
						isolation: isolate;

						&::before {
							content: '';
							position: absolute;
							top: -48px;
							left: 0;
							right: 0;
							bottom: 0;
							z-index: -1;
						}

						opacity: 0;
						pointer-events: none;

						transition: opacity 0.3s ease;

						.menu-item:hover a {
							color: var(--cl-primary);
						}

						li{
							margin: 0;
						}
					}

					&:hover .children,
					&:hover .sub-menu {
						opacity: 1;
						pointer-events: initial;
					}

					&.highlight {
						a {
							display: inline-block;
							position: relative;
							width: auto;
							padding: 16px;
							text-align: center;
							transition: all 0.25s ease-in-out;
							font-family: var(--ff-secondary);
							font-size: var(--fs-small);
							font-weight: var(--fw-medium);
							line-height: var(--lh-large);
							z-index: 1;
							text-align: center;
							color: var(--cl-white);
							background: var(--cl-error);
							@include rectangle;

							&:active,
							&:visited,
							&:hover {
								color: var(--cl-white);
							}

							@include tablet {
								padding: 16px 40px;
							}

							&:hover {
								cursor: pointer;
								background: var(--cl-error);
							}
						}
					}
				}
			}
		}

		#{$self}__submenu {
			display: none;

			@include custom(800px) {
				display: block;
			}

			ul {
				display: flex;
				margin: 0 0 0 48px;

				li {
					margin: 0 8px 0 0;

					@include tablet {
						margin: 0 24px 0 0;
					}

					&:last-of-type {
						margin: 0;
					}

					a {
						display: block;
						position: relative;
						height: 40px;
						width: 40px;
						overflow: hidden;
						padding: 0 0 0 40px;
						transition: 0.25s all ease-in-out;
						line-height: 40px;
						color: var(--cl-black);
						white-space: nowrap;

						svg {
							width: 40px;
							height: 40px;
							padding: 12px;
							position: absolute;
							top: 0;
							left: 0;
							color: var(--cl-secondary);
							transition: 0.25s all ease-in-out;
						}

						&:before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 40px;
							height: 40px;
							border: 2px solid var(--cl-secondary);
							transition: 0.25s all ease-in-out;
							@include square;
						}

						&:hover {
							cursor: pointer;

							&::before {
								border: 2px solid var(--cl-primary);
							}

							svg {
								color: var(--cl-primary);
							}
						}

						&.phone {
							@include custom(1600px) {
								padding: 0 0 0 64px;
								width: auto;
							}
						}
					}
				}
			}

			&.menu-button {
				ul {
					padding: 0 96px 0 0;

					@include tablet {
						padding: 0 112px 0 0;
					}
				}
			}
		}

		#{$self}__menu-button,
		#{$self}__search-button,
		#{$self}__scroll-button {
			position: fixed;
			top: 40px;
			right: 16px;
			width: 48px;
			height: 48px;
			background: var(--cl-primary);
			z-index: 999;
			display: none;
			overflow: hidden;
			@include square;
			@include shadow;
			@include transition;

			@include tablet {
				top: 32px;
				right: 48px;
				width: 64px;
				height: 64px;
			}

			@include desktop {
				right: 96px;
			}

			svg {
				position: absolute;
				top: calc(50% - 10px);
				left: calc(50% - 10px);
				width: 20px;
				height: 20px;
				color: var(--cl-primary-text);
				transition: 0.25s all ease-in-out;

				&:last-of-type {
					top: 48px;
					opacity: 0;

					@include tablet {
						top: 64px;
					}
				}
			}

			&:hover {
				cursor: pointer;
				background: var(--cl-primary-dark);

				svg {
					transform: scale(1.1);
				}
			}

			&.active,
			&.show {
				svg {
					top: -48px;
					opacity: 0;

					@include tablet {
						top: -64px;
					}

					&:last-of-type {
						top: calc(50% - 8px);
						opacity: 1;

						@include tablet {
							top: calc(50% - 10px);
						}
					}
				}
			}
		}

		#{$self}__scroll-button {
			top: auto;
			bottom: 0;
			margin: 40px 0;
			z-index: 899;

			@include tablet {
				margin: 32px 0;
			}
		}
	}

	.language-switcher{
		display: none;
		margin-left: 24px;

		ul{
			display: flex;
			flex-direction: row;
			gap: 24px;

			li{
				text-transform: uppercase;
				position: relative;
				min-width: fit-content;

				a{
					color: var(--cl-black);
					font-weight: var(--fw-bold);
				}

				&:not(.wpml-ls-current-language){
					a{
						color: var(--cl-dark)!important;
						font-weight: var(--fw-light);
					}
				}

				&::after{
					content: '';
					width: 2px;
					height: 12px;
					position: absolute;
					inset: 0 auto;
					margin-block: auto;
					right: -11px;
					background-color: var(--cl-primary);
					z-index: 99;
					@include rectangle
				}

				&:last-of-type{
					&::after{
						content: none;
					}
				}

				a{
					&:visited,
					&:focus{
						color: var(--cl-dark);
					}
				}
			}
		}
	}

	&__sidemenu {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100vh;
		background: var(--cl-black);
		padding: 40px 16px 0 16px;
		overflow: auto;
		transition: 0.5s right ease-in-out;
		z-index: 900;

		@include desktop {
			width: 640px;
		}

		&.active {
			right: 0;

			.language-switcher{
				display: block!important;
				margin-left: 0;

				ul{
					li{
						a{
							color: var(--cl-white);
						}

						&:not(.wpml-ls-current-language){
							a{
								color: var(--cl-grey)!important;
							}
						}
		
						a{
							&:visited,
							&:focus{
								color: var(--cl-white);
							}
						}
					}
				}

			}
		}

		@include tablet {
			padding: 32px 48px 0 48px;
		}

		@include desktop {
			padding: 32px 96px 0 96px;
		}

		#{$self}__submenu{
			margin: 0 0 48px 0;

			ul {
				display: flex;
				align-items: center;
				height: 48px;

				@include tablet {
					height: 64px;
				}

				li {
					margin: 0 8px 0 0;

					@include tablet {
						margin: 0 24px 0 0;
					}

					&:last-of-type {
						margin: 0;
					}

					a {
						display: block;
						position: relative;
						height: 40px;
						width: 40px;
						overflow: hidden;
						padding: 0 0 0 40px;
						transition: 0.25s all ease-in-out;
						line-height: 40px;
						color: var(--cl-white);
						white-space: nowrap;

						svg {
							width: 40px;
							height: 40px;
							padding: 12px;
							position: absolute;
							top: 0;
							left: 0;
							color: var(--cl-white);
							transition: 0.25s all ease-in-out;
						}

						&:before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 40px;
							height: 40px;
							border: 2px solid var(--cl-white);
							transition: 0.25s all ease-in-out;
							@include square;
						}

						&:hover {
							cursor: pointer;

							&::before {
								border: 2px solid var(--cl-primary);
							}

							svg {
								color: var(--cl-primary);
							}
						}

						&.phone {
							@include tablet {
								padding: 0 0 0 64px;
								width: auto;
							}
						}
					}
				}
			}

			&.menu-button {
				ul {
					padding: 0 96px 0 0;

					@include tablet {
						padding: 0 112px 0 0;
					}
				}
			}
		}

		.language-switcher{
			display: none;

			ul{
				li{
					&::after{
						background-color: var(--cl-grey);
					}

					a{
						color: var(--cl-white);
					}
					
				}
			}
		}

		#{$self}__menu {
			ul {
				li {
					padding: 16px 0 18px;
					position: relative;
					margin: 0 0 48px 0;

					@include tablet {
						padding: 24px 0 26px;
					}

					&:not(:last-of-type) {
						margin: 0;

						&:after {
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 2px;
							background: var(--cl-primary);
						}
					}

					a {
						color: var(--cl-white);
						font-family: var(--ff-secondary);
						transition: 0.25s all ease-in-out;
						white-space: nowrap;

						@include tablet {
							font-size: var(--fs-medium);
						}

						> &:hover {
							color: var(--cl-primary);
						}
					}

					&.current-menu-item,
					&.current-menu-parent,
					&.current-menu-ancestor{
						a {
							color: var(--cl-primary);
						}
					}

					.sub-menu {
						.menu-item:hover a {
							color: var(--cl-grey);
						}
					}
				}
			}
		}
	}

	&__searchmenu {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100vh;
		background: var(--cl-grey);
		overflow: auto;
		transition: 0.5s right ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 900;
		@include padding;

		@include desktop {
			width: 640px;
		}

		&.active {
			right: 0;
		}

		.search {
			padding: 0;
			width: 100%;
			max-width: 512px;
			position: relative;

			&__input {
				input {
					padding-right: 80px;
				}
			}

			&__submit {
				position: absolute;
				top: 0;
				right: 0;
				width: 64px;

				input {
					background: var(--cl-secondary);
					@include transition;
				}

				svg {
					width: 16px;
					height: 16px;
					position: absolute;
					top: calc(50% - 8px);
					left: calc(50% - 8px);
					color: var(--cl-white);
					transition: 0.5s all ease-in-out;
					z-index: 1;
					pointer-events: none;
				}

				&:hover {
					cursor: pointer;

					svg {
						transform: scale(1.2);
					}

					input {
						background: var(--cl-secondary-dark);
						cursor: pointer;
					}
				}
			}
		}
	}

	.whatsapp-container {
		position: fixed;
		top: initial;
		bottom: 0;
		margin: 40px 0;
		left: 16px;
		// width: 48px;
		// height: 48px;
		background: var(--cl-primary);
		z-index: 999;
		border: 2px solid var(--cl-white);
		overflow: hidden;
		@include square;
		@include shadow;

		@include tablet {
			margin: 32px 0;
			width: 64px;
			height: 64px;
			// bottom: 32px;
			left: 48px;
		}

		@include desktop {
			left: 96px;
		}

		&:hover {
			a {
				mask-size: 36px 36px;
			}
		}

		a {
			background-color: var(--cl-white);
			display: flex;
			// height: 80px;
			aspect-ratio: 1 / 1;
			mask-image: url(../img/icons/whatsapp.svg);
			mask-size: 24px 24px;
			mask-repeat: no-repeat;
			mask-position: center;
			@include transition;
		}
	}

	&--top {
		#{$self}__mainmenu {
			#{$self}__menu-button,
			#{$self}__search-button,
			#{$self}__scroll-button {
				top: 112px;

				@include tablet {
					top: 104px;
				}
			}

			#{$self}__menu-button,
			#{$self}__search-button {
				position: absolute;

				&.scroll {
					position: fixed;
					top: 40px;

					@include tablet {
						top: 32px;
					}
				}
			}
		}
	}

	&--button {
		#{$self}__mainmenu {
			#{$self}__submenu {
				ul {
					padding: 0 96px 0 0;

					@include tablet {
						padding: 0 112px 0 0;
					}

					li {
						a {
							&.phone {
								@include desktop {
									padding: 0 0 0 64px;
									width: auto;
								}
							}
						}
					}
				}
			}

			#{$self}__menu-button {
				display: block !important;
			}
		}
	}
}
