//  websquad
//	rendementsweg 2Q
// 	3641 SK mijdrecht
//	0297 - 525580

// variables

@import 'assets/variables.scss';

// mixin

// mixin - mediaquerie

@mixin tablet {
	@media only screen and (min-width: 640px) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: 1280px) {
		@content;
	}
}

@mixin custom($size) {
	@media only screen and (min-width: $size) {
		@content;
	}
}

// mixin - max width

@mixin max-width {
	// max-width: 960px;
	max-width: 1280px;

	// @include desktop {
	// 	max-width: 1280px;
	// }
}

// mixin - padding

@mixin padding {
	padding-left: 16px;
	padding-right: 16px;

	@include tablet {
		padding-left: 48px;
		padding-right: 48px;
	}

	@include desktop {
		padding-left: 96px;
		padding-right: 96px;
	}
}

// mixin - border radius

@mixin square {
	border-radius: var(--br-square-top-left) var(--br-square-top-right)
		var(--br-square-bottom-right) var(--br-square-bottom-left);
}

@mixin rectangle {
	border-radius: var(--br-rectangle-top-left) var(--br-rectangle-top-right)
		var(--br-rectangle-bottom-right) var(--br-rectangle-bottom-left);
}

// mixin - shadow

@mixin shadow {
	box-shadow: 0px 0px 16px 0px rgba(var(--cl-black), 0.16);
}

// mixin - transition

@mixin transition {
	transition: all 0.24s ease-in-out;
}

@mixin transition-delay {
	transition: all 0.24s ease-in-out 0.24s;
}

@mixin transition-slow {
	transition: all 0.48s ease-in-out;
}

// imports

// imports - assets

@import 'assets/reset.scss';
@import 'assets/owl-carousel';
@import 'assets/animations';

// imports - elements

@import 'components/button.scss';
@import 'components/cookie.scss';
@import 'components/form.scss';
@import 'components/slider.scss';

// body

html.websquad-html {
	background: var(--cl-secondary);
}

iframe html {
	background-color: var(--cl-white) !important;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
}

body {
	font-family: var(--ff-secondary);
	font-size: var(--fs-small);
	line-height: var(--lh-large);
	font-weight: var(--fw-regular);
	color: var(--cl-black);
	letter-spacing: var(--ls_medium);
	background: var(--cl-white);
}

// wrapper

.wrapper {
	width: 100%;
	margin: 0 auto;
	@include padding;

	.introduction {
		margin-bottom: 48px;

		> * {
			max-width: 800px;
			// margin-inline: auto;
		}
	}
}

// content

// content - titles

h1,
h2 {
	color: var(--cl-black);
	font-size: var(--fs-large);
	line-height: var(--lh-small);
	font-family: var(--ff-primary);
	font-weight: var(--fw-bold);
	padding: 0 0 48px 0;

	@include tablet {
		font-size: var(--fs-huge);
	}
}

h3 {
	color: var(--cl-primary);
	font-size: var(--fs-medium);
	line-height: var(--lh-medium);
	font-family: var(--ff-primary);
	font-weight: var(--fw-medium);
	padding: 0 0 48px 0;
	position: relative;
	z-index: 1;

	@include tablet {
		font-size: var(--fs-large);
	}
}

// content - link

a {
	&,
	&:visited,
	&:active,
	&:focus {
		color: var(--cl-secondary);
		transition: all 0.25s ease-in-out;
	}

	&:hover {
		color: var(--cl-secondary);
	}
}

// content - paragraph

p {
	padding: 0 0 48px 0;

	&.dotdotdot {
		opacity: 0;
		transition: all 0.25s ease-in-out;

		&.loaded {
			opacity: 1;
		}
	}
}

// content - quote

blockquote {
	position: relative;
	color: var(--cl-primary);
	font-style: italic;
	border-left: 2px solid var(--cl-primary);
	margin: 0 0 48px 0;
	padding: 48px 0 0 16px;

	p {
		position: relative;
	}

	@include tablet {
		padding: 48px 0 0 48px;
	}

	@include desktop {
		padding: 48px 0 0 96px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 128px;
		height: 128px;
		mask-image: url(../img/icons/quote-right-solid-secondary.svg);
		mask-size: 100% 100%;
		mask-repeat: no-repeat;
		mask-position: center;
		background-color: currentColor;
		pointer-events: none;
		opacity: 0.16;
	}
}

// content - image

img {
	width: 100%;
	height: auto;
}

// content - strong

strong {
	font-weight: var(--fw-bold);
	color: var(--cl-secondary);
}

// content - italic

em {
	color: var(--cl-grey-dark);
}

// content - wysiwyg

//padding
.wysiwyg {
	// TODO: test if this new way of adding padding works good, if not, remove
	> * {
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
	}
	> * + * {
		margin-top: 1em;

		&.button,
		&.button-container {
			margin-top: 2em;
		}
	}
}

// colors
.wysiwyg {
	--bg: var(--cl-white);
	--fg: var(--cl-black);
	--primary: var(--cl-primary);
	--secondary: var(--cl-secondary);

	&.wysiwyg--light {
		--bg: var(--cl-grey);
	}

	&.wysiwyg--black {
		--bg: var(--cl-black);
		--fg: var(--cl-white);
	}

	&.wysiwyg--secondary {
		--bg: var(--cl-secondary);
		--fg: var(--cl-secondary-text);
		--primary: var(--cl-secondary-text);
		--secondary: var(--cl-secondary-text);
	}

	&.wysiwyg--primary {
		--bg: var(--cl-primary);
		--fg: var(--cl-primary-text);
		--primary: var(--cl-primary-text);
		--secondary: var(--cl-primary-text);
	}

	color: var(--fg, var(--cl-black));

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: inherit;
	}

	h3 {
		font-style: italic;
	}

	// content - link

	a:not(.button) {
		&,
		&:visited,
		&:active,
		&:focus {
			color: var(--secondary);
		}

		&:hover {
			color: var(--secondary);
		}
	}

	// content - quote

	blockquote {
		color: var(--primary);
		border-left: 2px solid var(--primary);

		&:before {
			background-color: var(--primary);
		}
	}

	// content - strong

	strong {
		color: var(--secondary);
	}

	// content - italic

	em {
		opacity: 0.8;
	}

	ul {
		padding: 0 0 48px 0;

		li {
			padding: 0 0 4px 24px;
			position: relative;

			&:last-of-type {
				padding: 0 0 0 24px;
			}

			&:before {
				content: '\25E6';
				position: absolute;
				left: 0;
				font-weight: var(--fw-bold);
				color: var(--accent);
			}
		}
	}
}

// loading

.loading {
	opacity: 0;
	transition: all 0.25s ease-in-out;

	&.page-loaded {
		opacity: 1;
	}
}

// dotdotdot (creates .dotdotdot--1 ... .dotdotdot--12)

$dotdotdot-lines: 12;
@for $i from 1 through $dotdotdot-lines {
	.dotdotdot--#{$i} {
		display: -webkit-box;
		-webkit-line-clamp: $i;
		line-clamp: $i; // for later when it's supported https://caniuse.com/?search=line-clamp
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

.dotdotdot {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3; // for later when it's supported https://caniuse.com/?search=line-clamp
	-webkit-box-orient: vertical;
	overflow: hidden;
}

// selection

::selection {
	background: var(--cl-grey-dark);
	text-shadow: none;
}

// autofill

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}

// globals utility classes

.display-none {
	display: none !important;
}

// imports

// imports - general

@import 'header';
@import 'footer';

// imports - blocks

@import '../partials/blocks/cards/cards';
@import '../partials/blocks/content/content';
@import '../partials/blocks/faq/faq';
@import '../partials/blocks/file/file';
@import '../partials/blocks/form/form';
@import '../partials/blocks/gallery/gallery';
@import '../partials/blocks/hero/hero';
@import '../partials/blocks/intro/intro';
@import '../partials/blocks/map/map';
@import '../partials/blocks/open/open';
@import '../partials/blocks/reference/reference';
@import '../partials/blocks/search/search';
@import '../partials/blocks/spacer/spacer';
@import '../partials/blocks/table/table';
@import '../partials/blocks/usp/usp';
