section.form {
	$self: &;
	padding-top: 96px;
	padding-bottom: 96px;

	--bg: var(--cl-white);
	--fg: var(--cl-black);
	--input: var(--cl-grey);
	--input-text: var(--cl-black);
	--accent: var(--cl-secondary);
	--accent-text: var(--cl-secondary-text);

	background-color: var(--bg);
	color: var(--fg);

	.wrapper {
		@include max-width;
	}

	.gform_wrapper {
		.gform-body {
			.gform_fields {
				.gfield {
					input,
					select,
					textarea {
						background: var(--input);
					}

					.ginput_container_select {
						color: var(--input-text)
					}

					.validation_message {
						color: var(--cl-fg);
					}
				}
			}
		}

		.gform_footer {
			button {
				--bg: var(--accent);
				--fg: var(--accent-text);
			}
		}

		label {
			color: var(--fg);
		}

		.gform_validation_errors {
			h2 {
				color: var(--fg);
			}
		}
	}

	// background

	&.form--white {
	}

	&.form--grey {
		--bg: var(--cl-grey);
		--fg: var(--cl-black);
		--input: var(--cl-white);
	}

	&.form--black {
		--bg: var(--cl-black);
		--fg: var(--cl-white);
	}

	&.form--primary {
		--bg: var(--cl-primary);
		--fg: var(--cl-primary-text);
	}

	&.form--secondary {
		--bg: var(--cl-secondary);
		--fg: var(--cl-secondary-text);
		--accent: var(--cl-primary);
		--accent-text: var(--cl-primary-text);
	}
}
