section.table {
	padding: 24px 0 48px 0;

	.wrapper {
		@include max-width;
	}

	.table__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 2px 0;
		overflow: hidden;
		@include rectangle;

		&:last-of-type {
			margin: 0 0 48px 0 !important;
		}
		
		.table__col {
			background: var(--cl-grey);
			padding: 16px;
			
			@include tablet {
				padding: 16px 24px;	
			}

			&--left {
				width: 100%;

				@include desktop {
					width: 50%;
				}				
			}

			&--right {
				width: 100%;
				
				@include desktop {
					width: 50%;
				}
			}
		}
		
		&--title {
			margin: 48px 0 24px 0;

			#{self}__col {
				
				&--left {
					width: 100%;
					background: var(--cl-primary);
					font-weight: var(--fw-medium);
					color: var(--cl-primary-text);
				}

				&--right {
					display: none;
				}
			}
		}

		&--normal {

			.table__col {
				background: var(--cl-grey);
	
				&--left {
					font-weight: var(--fw-medium);
					padding: 16px 16px 0 16px;

					@include tablet {
						padding: 16px 24px 0 24px;	
					}

					@include desktop {
						padding: 16px 24px;	
					}
				}
	
				&--right {
					padding: 0 16px 16px 16px;

					@include tablet {
						padding: 0 24px 16px 24px;	
					}

					@include desktop {
						padding: 16px 24px;	
					}
				}
			}

		}

		&--note {

			.table__col {
				
				&--left {
					width: 100%;
					background: var(--cl-secondary) !important;
					font-weight: var(--fw-medium);
					color: var(--cl-secondary-text);
				}

				&--right {
					display: none;
				}
			}
		}
	}

	// background

	&.table--white {
	}

	&.table--grey {
		background: var(--cl-grey);

		.table__row {
			
			.table__col {
				background: var(--cl-white);
			}
			
			&--title {
	
				.table__col {
					
					&--left {
						background: var(--cl-primary);
						color: var(--cl-primary-text);
					}
				}
			}
	
			&--normal {
	
				.table__col {
					background: var(--cl-white);
				}
			}
		}
	}

	&.table--black {
		background: var(--cl-black);

		.table__row {
			
			.table__col {
				background: var(--cl-white);
			}
			
			&--title {
	
				.table__col {
					
					&--left {
						background: var(--cl-primary);
						color: var(--cl-primary-text);
					}
				}
			}
	
			&--normal {
	
				.table__col {
					background: var(--cl-white);
				}
			}
		}
	}

	&.table--primary {
		background: var(--cl-primary);
		color: var(--cl-primary-text);

		.table__row {
			
			.table__col {
				background: var(--cl-white);
			}
			
			&--title {
	
				.table__col {
					
					&--left {
						background: var(--cl-secondary);
						color: var(--cl-secondary-text);
					}
				}
			}
	
			&--normal {
	
				.table__col {
					background: var(--cl-white);
				}
			}
		}
	}

	&.table--secondary {
		background: var(--cl-secondary);
		color: var(--cl-secondary-text);

		.table__row {
			
			.table__col {
				background: var(--cl-white);
				color: var(--cl-black);
			}
			
			&--title {
	
				.table__col {
					
					&--left {
						background: var(--cl-primary);
						color: var(--cl-primary-text);
					}
				}
			}
	
			&--normal {
	
				.table__col {
					background: var(--cl-white);
				}
			}

			&--note {
				border-left: 2px solid var(--cl-primary);

				.table__col {
					
					&--left {
						color: var(--cl-secondary-text);
					}
				}
			}
		}
	}
}