section.content {
	padding: 96px 0 48px 0;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	@include tablet {
		gap: 3rem;
	}

	> * {
		// outline: dotted pink 1px;

		> * > * {
			// outline: dotted red 1px;
		}
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		width: 100%;

		> * {
			flex-basis: 100%;
		}

		@include tablet {
			flex-direction: row;
			flexwrap: no-wrap;
			gap: 3rem;

			&.turn-around {
				flex-direction: row-reverse;
			}
		}
	}

	// reusables

	.text-container {
	}

	.image-container {
		@include rectangle;
		overflow: hidden;
	}

	.button-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 1.5rem;
		@include tablet {
			gap: 3rem;
		}

		.button {
			margin: 0;
		}
	}

	.code-container {
	}

	.video-container {
		position: relative;
		aspect-ratio: 16/9;
		@include rectangle;
		overflow: hidden;
		width: 100%;
		max-width: 100%;
		background: var(--cl-black);

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
			transition: 0.5s all ease-in-out 1s;
			opacity: 0;
			pointer-events: none;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: 0.25s all ease-in-out;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -32px 0 0 -32px;
			width: 64px;
			height: 64px;
			background-color: var(--cl-primary);
			pointer-events: none;
			transition: 0.25s all ease-in-out;
			pointer-events: none;
			@include square;
		}

		&::before {
			mask-image: url(../img/icons/play-regular-white.svg);
			mask-size: 20px 20px;
			mask-repeat: no-repeat;
			mask-position: 24px center;
			background-color: var(--cl-primary-text);
			z-index: 2;
		}

		&:hover {
			cursor: pointer;

			img {
				opacity: 0.75;
			}

			&::after {
				background-color: var(--cl-primary-dark);
			}
		}

		&.active {
			img {
				opacity: 0;
				pointer-events: none;
			}

			iframe {
				opacity: 1;
				pointer-events: all;
			}

			&::before,
			&::after {
				opacity: 0;
			}
		}
	}
}
