section.faq {
	$self: &;
	padding: 96px 0 48px 0;

	.wrapper {
		@include max-width;
	}

	.faq__container {
		margin: 0 0 2px 0;

		&:last-of-type {
			margin: 0 0 48px 0;
		}

		.faq__question {
			position: relative;
			background: var(--cl-primary);
			color: var(--cl-primary-text);
			overflow: hidden;
			@include rectangle;

			p {
				display: block;
				position: relative;
				font-weight: var(--fw-medium);
				transition: 0.25s all ease-in-out;
				padding: 16px 88px 16px 16px;

				@include tablet {
					padding: 16px 88px 16px 24px;
				}

				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 64px;
					height: 64px;
					mask-image: url(../img/icons/arrow-down-regular-white.svg);
					mask-size: 20px 20px;
					mask-repeat: no-repeat;
					mask-position: center;
					background-color: currentColor;
					pointer-events: none;
					transition: 0.25s all ease-in-out;
				}

				&:hover {
					cursor: pointer;
				}
			}

			&.active {
				p {
					&:after {
						transform: rotate(180deg);
						animation: none;
					}
				}
			}
		}

		.faq__answer {
			display: none;
			position: relative;
			padding: 48px 0 0 16px;
			border-left: 2px solid currentColor;
			margin: 48px 0 48px 0;

			@include tablet {
				padding: 48px 0 0 48px;
			}

			@include desktop {
				padding: 48px 0 0 96px;
			}
		}
	}

	// background

	&.faq--white {
	}

	&.faq--grey {
		background: var(--cl-grey);
	}

	&.faq--black {
		background: var(--cl-black);

		.faq__answer {
			color: var(--cl-white);
		}
	}

	&.faq--secondary {
		background: var(--cl-secondary);

		.faq__question {
			background-color: var(--cl-secondary-text);
			color: var(--cl-secondary);
		}

		.faq__answer {
			color: var(--cl-secondary-text);
		}
	}

	&.faq--primary {
		background: var(--cl-primary);

		.faq__question {
			background-color: var(--cl-primary-text);
			color: var(--cl-primary);
		}

		.faq__answer {
			color: var(--cl-primary-text);
		}
	}
}
