section.faq {
	$self: &;
	padding: 96px 0 48px 0;

	.wrapper {
		@include max-width;
	}

	.faq__container {
		margin: 0 0 2px 0;

		&:last-of-type {
			margin: 0 0 48px 0;
		}

		.faq__question {
			position: relative;
			background: var(--cl-primary);
			color: var(--cl-white);
			overflow: hidden;
			@include rectangle;
	
			p {
				display: block;
				position: relative;
				font-weight: var(--fw-medium);
				transition: 0.25s all ease-in-out;
				padding: 16px 88px 16px 16px;
				// TODO: maybe not use a gradient here?
				background: linear-gradient( to right, var(--cl-primary) 0%, var(--cl-secondary) 100% );
				background-size: 100%;
				background-position: center left;

				@include tablet {
					padding: 16px 88px 16px 24px;
				}
	
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 64px;
					height: 64px;
					background-image: url(../img/icons/arrow-down-regular-white.svg);
					background-size: 20px 20px;
					background-repeat: no-repeat;
					background-position: center;
					pointer-events: none;
					transition: 0.25s all ease-in-out;
				}
	
				&:hover {
					cursor: pointer;
					background-size: 150%;
					background-position: center left;
				}
			}
	
			&.active {
	
				p {
	
					&:after {
						transform: rotate(180deg);
						animation: none;
					}
				}			
			}
		}
	
		.faq__answer {
			display: none;
			position: relative;
			padding: 48px 0 0 16px;
			border-left: 2px solid var(--cl-primary);
			margin: 48px 0 48px 0;
	
			@include tablet {
				padding: 48px 0 0 48px;
			}
	
			@include desktop {
				padding: 48px 0 0 96px;
			}
		}
	}

	// background

	&.faq--white {

	}

	&.faq--grey {
		background: var(--cl-grey);
	}

	&.faq--black {
		background: var(--cl-black);

		h2, h3, p, li, em {
			color: var(--cl-white);
		}
	}

	&.faq--secondary {
		background: var(--cl-secondary);

		.faq__question {
			background: var(--cl-primary);

			p {

				&:hover {
					background: var(--cl-primary-dark);
				}
			}
		}

		.faq__answer {
			border-left: 2px solid var(--cl-primary);
		}

		h2, h3, p, li, em {
			color: var(--cl-white);
		}

		strong {
			color: var(--cl-primary);
		}

		p a, li a {
			color: var(--cl-primary);

			&:hover {
				color: var(--cl-primary-dark);
			}
		}

		ul {
			
			li {

				&:before {
					color: var(--cl-primary);
				}
			}
		}

		blockquote {
			border-left: 2px solid var(--cl-primary);

			&:before {
				background-image: url(../img/icons/quote-right-solid-primary.svg);
			}
		}
	}

	&.faq--primary {
		background: var(--cl-primary);

		h2, h3, p, li, em {
			color: var(--cl-white);
		}
	}
}
