.spacer {

	// background

	&--white {
		background: var(--cl-white);
	}

	&--grey {
		background: var(--cl-grey);
	}

	&--black {
		background: var(--cl-black);
	}

	&--primary {
		background: var(--cl-secondary);
	}

	&--secondary {
		background: var(--cl-primary);
	}

	// margin
	
	&--positive {
		height: 96px;
	}

	&--negative {
		margin-top: -96px;
	}
}
