section.spacer {

	// background

	.spacer--white {
		background: var(--cl-white);
	}

	.spacer--grey {
		background: var(--cl-grey);
	}

	.spacer--black {
		background: var(--cl-black);
	}

	.spacer--primary {
		background: var(--cl-secondary);
	}

	.spacer--secondary {
		background: var(--cl-primary);
	}

	// margin
	
	.spacer--positive {
		height: 96px;
	}

	.spacer--negative {
		margin-top: -96px;
	}
}
