section.map {
	$self: &;
	position: relative;
	overflow: hidden;
	background-color: var(--cl-primary);
	color: var(--cl-primary-text);

	.map__map {
		position: absolute;
		top: 0;
		left: 0;
		height: calc(100% + 96px);
		width: 100%;
		// BUG: Image is not showing up in editor
		background-image: url('../img/map-placeholder.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		svg {
			color: var(--cl-primary);
		}
	}

	.map__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		padding: 96px 16px;
		margin: 96px 0;
		@include rectangle;
		isolation: isolate;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-color: var(--cl-primary);
			opacity: 0.75;
			z-index: -1;
		}

		@include tablet {
			width: 100%;
			left: 0;
			padding: 96px 48px;
		}

		@include desktop {
			max-width: calc(50% - 48px);
			&::before {
				opacity: 1;
			}
		}

		@include custom(1920px) {
			max-width: calc(25% - 72px);
		}

		h2 {
			padding: 0 0 24px 0;
			color: inherit;
		}

		ul {
			&:not(:last-of-type) {
				margin: 0 0 24px 0;
			}

			li {
				color: inherit;

				&:not(:last-of-type) {
					a {
						margin: 0 0 8px 0;
					}
				}

				a {
					display: block;
					position: relative;
					height: 40px;
					width: auto;
					overflow: hidden;
					padding: 0 0 0 64px;
					transition: 0.25s all ease-in-out;
					line-height: 40px;
					white-space: nowrap;
					color: inherit;
					text-overflow: ellipsis;

					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 40px;
						aspect-ratio: 1/1;
						border: 2px solid currentColor;
						transition: 0.25s background-image ease-in-out,
							0.25s border ease-in-out;
						@include square;
					}

					svg {
						width: 40px;
						height: 40px;
						padding: 12px;
						position: absolute;
						top: 0;
						left: 0;
						color: inherit;
						transition: 0.25s all ease-in-out;
					}

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
