header,
footer,
section {
	.button:not(.acf-button) {
		--bg: var(--cl-secondary);
		--fg: var(--cl-white);

		color: var(--fg);
		background-color: var(--bg);
		border: 2px solid var(--bg);

		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 256px;
		padding-inline: 16px;
		height: 64px;
		font-family: var(--ff-primary);
		font-size: var(--fs-small);
		font-weight: var(--fw-medium);
		line-height: var(--lh-large);
		letter-spacing: var(--ls-medium);
		text-align: center;
		position: relative;
		z-index: 1;
		margin: 0 0 48px 0;
		@include transition;
		@include rectangle;

		&:active,
		&:focus {
			color: var(--cl-white);
		}

		&:hover {
			cursor: pointer;
			background-color: var(--fg);
			color: var(--bg);
		}
	}

	.button--disabled {
		opacity: 0.5;

		&:hover {
			cursor: not-allowed !important;
			background-color: var(--bg) !important;
			color: var(--fg) !important;
		}
	}

	.button.button--filled-primary {
		--bg: var(--cl-primary);
		--fg: var(--cl-primary-text);
	}

	.button.button--filled-white {
		--bg: var(--cl-secondary);
		--fg: var(--cl-secondary-text);
	}
}
