.gform_wrapper {
	input,
	input[type='text'],
	input[type='password'],
	input[type='datetime'],
	input[type='datetime-local'],
	input[type='date'],
	input[type='month'],
	input[type='time'],
	input[type='week'],
	input[type='number'],
	input[type='email'],
	input[type='url'],
	input[type='search'],
	input[type='tel'],
	input[type='color'],
	label,
	select,
	textarea {
		display: block;
		width: 100%;
		padding: 16px;
		font-family: var(--ff-secondary);
		font-size: var(--fs-small);
		font-weight: var(--fw-regular);
		line-height: var(--lh-large);
		color: var(--cl-black);
		letter-spacing: var(--ls-medium);
		position: relative;
		z-index: 1;
		border: none;
		-webkit-appearance: none;
		-webkit-appearance: button;
		@include rectangle;
	}

	::placeholder {
		color: var(--cl-grey-dark);
		opacity: 1;
	}

	label,
	legend {
		display: block;
		width: 100%;
		font-size: var(--fs-tiny);
		font-weight: var(--fw-medium);
		color: var(--fg, var(--cl-secondary));
		margin-bottom: 12px;
		padding: 0;
		-webkit-appearance: none;
	}

	textarea {
		&.textarea {
			&.small {
				height: 128px;
			}

			&.medium {
				height: 256px;
			}

			&.large {
				height: 384px;
			}
		}
	}

	.ginput_container_select {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			aspect-ratio: 1;
			mask-image: url('../img/icons/caret-down-solid.svg');
			mask-repeat: no-repeat;
			mask-position: center;
			mask-size: 16px 16px;
			background-color: currentColor;
			z-index: 2;
			pointer-events: none;
		}

		select {
			// remove default arrow
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			padding-right: 48px;
		}
	}

	.ginput_container_checkbox,
	.ginput_container_radio,
	.ginput_container_consent {
		// TODO: style checkboxes

		.gchoice {
			height: 48px;
			display: flex;
			align-items: center;
		}

		label {
			position: relative;
			padding: 0 0 0 48px;
			font-size: var(--fs-small);
			font-weight: var(--fw-regular);

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 32px;
				height: 32px;
				background-color: var(--bg);
				border: 2px solid var(--fg);
				border-radius: 2px;
				pointer-events: none;
				z-index: 1;
				@include rectangle;
			}

			// checkmark
			&::after {
				content: '';
				mask-image: url('../img/icons/check-regular-primary.svg');
				mask-size: 16px;
				mask-repeat: no-repeat;
				mask-position: center;
			}
		}

		input {
			display: none;
		}

		input:checked + label {
			&::before {
				background-color: var(--fg);
			}
		}
	}

	.ginput_container_radio {

		.gchoice {
			label {
				&::before,
				&::after {
					border-radius: 50%;
				}
			}
		}
	}

	.ginput_container_consent {
		height: 48px;
		display: flex;
		align-items: center;
	}

	.gform_required_legend {
		display: none;
	}

	.gform_validation_errors {
		h2 {
			padding: 16px 0 16px 32px;
			border-left: 2px solid var(--cl-error);
			// background: lighten(var(--cl-error), 40%);
			margin-bottom: 48px;
			color: var(--cl-error);
			font-family: var(--ff-secondary);
			font-size: var(--fs-small);
			line-height: var(--lh-large);
			font-weight: var(--fw-regular);
			// @include rectangle;
		}
	}

	.gform-body {
		margin-bottom: 24px;

		.gform_fields {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.gfield {
				width: 100%;
				margin-bottom: 24px;

				@include desktop {
					&--width-half {
						width: calc(50% - 24px);
					}
				}

				&.gform_validation_container {
					display: none;
				}

				.validation_message {
					font-size: var(--fs-tiny);
					font-weight: var(--fw-medium);
					color: var(--cl-error);
					padding: 4px 0 0 0;
				}
			}
		}
	}

	.gform_footer {
		position: relative;
		text-align: right;

		.button {
			margin: 0;
		}

		.gform_ajax_spinner {
			position: absolute;
			top: calc(50% - 32px);
			right: 0;
			width: 64px;
			height: 64px;
			padding: 24px;
			z-index: 1;
		}
	}
}
