.tns-outer {
	position: relative;

	--slider-bg: transparent;
	--slider-fg: var(--cl-white);
	--slider-accent: var(--cl-primary);
	--slider-accent-text: var(--cl-primary-text);

	.tns-controls {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		width: 100%;
		pointer-events: none;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		padding: 0 16px;

		@include tablet {
			padding: 0 48px;
		}

		@include desktop {
			padding: 0 96px;
		}

		&.disabled {
			display: none;
		}

		button {
			width: 40px;
			height: 40px;
			border: none;
			background: var(--slider-bg);
			pointer-events: auto;
			transition: 0.25s all ease-in-out;
			position: relative;
			color: var(--slider-bg);
			@include square;
			border: 2px solid var(--slider-fg);
			@include square;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				mask-size: 16px 16px;
				mask-repeat: no-repeat;
				mask-position: center;
				mask-image: url(../img/icons/arrow-left-regular-white.svg);
				background-color: var(--slider-fg);
				transition: 0.25s background-color ease-in-out,
					0.25s border ease-in-out;
			}

			&:hover {
				background: var(--slider-accent);
				border: 2px solid var(--slider-accent);

				&:before {
					background-color: var(--slider-accent-text);
				}
			}

			&[data-controls='next'] {
				rotate: 180deg;
			}
		}
	}

	.tns-nav {
		display: flex;
		justify-content: center;
		position: absolute;
		bottom: 16px;
		left: 0;
		width: 100%;
		z-index: 2;

		@include tablet {
			bottom: 48px;
		}

		&.disabled {
			display: none;
		}

		button {
			display: block;
			width: 16px;
			height: 16px;
			border: 2px solid var(--slider-fg);
			background: var(--slider-bg);
			margin: 0 8px 0 0;
			transition: all 0.25s ease-in-out;
			@include square;

			&:last-child {
				margin: 0;
			}

			&.tns-nav-active {
				background: var(--slider-accent);
			}

			&:hover {
				background: var(--slider-accent);
			}
		}
	}
}
