.form {
	$self: &;
	padding-top: 96px;
	padding-bottom: 96px;

	.wrapper {
		@include max-width;
	}

	// background

		&--white {

			.gform_wrapper {

				.gform-body {
			
					.gform_fields {
			
						.gfield {
			
							input,
							// input[type="text"], 
							// input[type="password"], 
							// input[type="datetime"], 
							// input[type="datetime-local"], 
							// input[type="date"], 
							// input[type="month"], 
							// input[type="time"], 
							// input[type="week"], 
							// input[type="number"],
							// input[type="email"], 
							// input[type="url"], 
							// input[type="search"], 
							// input[type="tel"], 
							// input[type="color"],
							select, 
							textarea {
								background: var(--cl-grey);
							}
						}
					}
				}
			}
		}

		&--grey {
			background: var(--cl-grey);
		}

		&--black {
			background: var(--cl-black);
		}

		&--primary {
			background: var(--cl-primary);

			.gform_wrapper {
			
				label {
					color: var(--cl-primary-text);
				}

				.gform_validation_errors {

					h2 {
						color: var(--cl-primary-text);
					}
				}

				.gform-body {
			
					.gform_fields {
			
						.gfield {
			
							.validation_message {
								color: var(--cl-primary-text);
							}
						}
					}
				}
			}
		}

		&--secondary {
			background: var(--cl-secondary);

			.gform_wrapper {
			
				label {
					color: var(--cl-secondary-text);
				}

				.gform_validation_errors {

					h2 {
						color: var(--cl-secondary-text);
					}
				}

				.gform-body {
			
					.gform_fields {
			
						.gfield {
			
							.validation_message {
								color: var(--cl-secondary-text);
							}
						}
					}
				}
			}
		}
}
