.open {
	$self: &;
	padding: 96px 0 96px 0;

	.wrapper {
		@include max-width;
	}

	ul {
		display: flex;
		flex-wrap: wrap;

		li {
			position: relative;
			width: 100%;
			background: var(--cl-grey);
			@include rectangle;

			&:not(:last-of-type) {
				margin: 0 0 2px 0;
			}

			@include desktop {
				width: calc(50% - 48px);
				
				&:not(:last-of-type) {
					margin: 0 96px 2px 0;

					&:nth-of-type(2n+2) {
						margin: 0 0 2px 0;
					}
				}
			}

			p {
				padding: 16px 24px 16px 80px;
				color: var(--cl-black);
			}

			span {
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				width: 64px;
				height: 64px;
				line-height: 64px;
				text-transform: uppercase;
				text-align: center;
				background: var(--cl-primary);
				color: var(--cl-white);
				font-weight: var(--fw-medium);
				@include rectangle;
			}
		}
	}

	// background

	&--grey {
		background: var(--cl-grey);

		ul {
	
			li {
				background: var(--cl-white);
			}
		}
	}

	&--black {
		background: var(--cl-black);

		ul {
	
			li {
				background: var(--cl-white);
			}
		}
	}

	&--primary {
		background: var(--cl-secondary);

		ul {
	
			li {
				background: var(--cl-white);
			}
		}
	}

	&--secondary {
		background: var(--cl-primary);

		ul {
	
			li {
				background: var(--cl-white);

				span {
					background: var(--cl-secondary);
				}
			}
		}
	}
}
