section.hero {
	$self: &;
	position: relative;
	// padding-bottom: 48px;
	// background-color: var(--cl-white);
	
	.hero__half_half{
		// display: flex;
		overflow: hidden;
		
		.wrapper{
			display: grid;
			gap: 48px;
			min-height: 1080px;
			max-width: 1920px;
			margin-inline: auto;
			padding: 0;
			
			@include desktop{
				min-height: initial;
				max-height: calc(100vh - 128px);
				grid-template-columns: 1fr 1fr;
			}

		}
		
		.hero__text{
			@include padding;
			width: 100%;
			padding-top: 96px;
			padding-bottom: 48px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			h2{
				color: var(--cl-black);
				font-weight: var(--fw-bold);
			}

			h3{
				color: var(--cl-secondary);
			}

			.hero__button-container{
				margin: 0;
			}
		}

		.slider{
			opacity: 1;
			width: 100%;
			height: 100%;
			// aspect-ratio: 4 / 3;
			overflow: hidden;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			&:has(.owl-stage-outer){
				background-image: none!important;
			}
			
			.slide{
				height: 100%;
				width: 100%;
				position: relative;
				min-height: 800px;

				img{
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					transform: translate(-50%, -50%);
				}
			}
		}
	}

	.hero__slider {
		// padding: 64px;
		// background-color: red;
		.hero__container {
			position: relative;
			height: calc(100vh - 128px);
			min-height: 640px;
			max-height: 960px;
	
			&--top {
				height: calc(100vh - 200px);
			}
		}
	
		.hero__image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
	
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: linear-gradient( to bottom, rgba(#000, 0) 0%, rgba(#000, 0.5) 50%, rgba(#000, 0.25) 100% );
			}

			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	
		.hero__text {
			position: relative;
			width: 100%;
			height: 100%;
			padding: 48px 0 0 0;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			z-index: 2;
			max-width: calc(100% - 156px);
   			margin-inline: auto;
		}

		.owl-nav {
			top: auto;
			bottom: 0px;
			display: none;

			@include tablet {
				display: flex;
				top: 50%;
				bottom: auto;
			}
		}

		.owl-dots {
			bottom: 96px;

			@include tablet {
				bottom: 64px;
			}
		}	
	}

	.hero__text{
		h2 {
			color: var(--cl-white);
		}
	
		h3 {
			color: var(--cl-white);
			margin-top: -40px;
		}
	
		.hero__button-container {
			display: flex;
			flex-wrap: wrap;
			gap: 24px;

			a {
				margin-bottom: 0;
			}
		}
	}

	.hero__scroll-button {
		position: absolute;
		bottom: 0;
		right: 16px;
		width: 48px;
		height: 48px;
		background: var(--cl-primary);
		transition: all 0.25s ease-in-out;
		z-index: 899;
		margin: 40px 0;
		@include rectangle;

		@include tablet {
			right: 48px;
			width: 64px;
			height: 64px;
			margin: 48px 0;
		}

		@include desktop {
			right: 96px;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;

			svg {
				position: absolute;
				top: calc(50% - 10px);
				left: calc(50% - 10px);
				width: 20px;
				height: 20px;
				color: var(--cl-white);
				transition: 0.25s all ease-in-out;
			}
		}

		&:hover {
			cursor: pointer;
			background: var(--cl-primary-dark);
			
			svg {
				transform: scale(1.1);
			}
		}
	}

	&.hero--grey{
		background-color: var(--cl-grey);	
	}

	&.hero--black{
		background-color: var(--cl-black);	

		*{
			h1{
				color: var(--cl-white);
			}

			p{
				color: var(--cl-white);
			}
		}
	}

	&.hero--primary{
		background-color: var(--cl-primary);	

		*{
			h1{
				color: var(--cl-white);
			}

			h3{
				color: var(--cl-grey)!important;
			}

			p{
				color: var(--cl-white);
			}

			.hero__button-container{
				.button{
					background-color: var(--cl-secondary);
				}
			}
		}
	}

	&.hero--secondary{
		background-color: var(--cl-secondary);	

		*{
			h1{
				color: var(--cl-white);
			}

			h3{
				color: var(--cl-grey)!important;
			}

			p{
				color: var(--cl-white);
			}
		}
	}
}