section.hero {
	position: relative;

	.hero__half_half {
		overflow: hidden;

		.wrapper {
			display: grid;
			max-width: 1920px;
			margin-inline: auto;
			padding: 0;

			@include desktop {
				max-height: calc(100vh - 128px);
				grid-template-columns: 1fr 1fr;
			}
		}

		.hero__text {
			@include padding;
			width: 100%;
			height: 100%;
			padding-top: 96px;
			padding-bottom: 96px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.tns-outer{
			& > button{
				display: none;
			}

			.tns-ovh{
				height: 100%;
			}

			.tns-inner{
				height: 100%;
			}
		}

		.slider{
			display: flex;
			height: 100%;
		}

		.slide{
			height: auto!important;
		}
	}

	.hero__slider {
		.hero__container {
			position: relative;
			height: calc(100vh - 128px);
			min-height: 640px;
			max-height: 960px;

			&--top {
				height: calc(100vh - 200px);
			}
		}

		.hero__image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: linear-gradient(
					to bottom,
					rgba(#000, 0) 0%,
					rgba(#000, 0.5) 50%,
					rgba(#000, 0.25) 100%
				);
			}

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		.hero__text {
			position: relative;
			width: 100%;
			height: 100%;
			padding: 48px 0 0 0;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			z-index: 2;
			max-width: calc(100% - 156px);
			margin-inline: auto;

			.button-container {
				justify-content: center;
			}
		}
	}

	.tns-outer {
		opacity: 1;
		width: 100%;
		height: 100%;
		// aspect-ratio: 4 / 3;
		overflow: hidden;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		.slide {
			height: 100%;
			width: 100%;
			position: relative;
			aspect-ratio: 4/3;

			@include desktop {
				aspect-ratio: unset;
			}

			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
	}

	.hero__scroll-button {
		position: absolute;
		bottom: 0;
		right: 16px;
		width: 48px;
		height: 48px;
		background: var(--cl-primary);
		transition: all 0.25s ease-in-out;
		z-index: 899;
		margin: 40px 0;
		@include rectangle;

		@include tablet {
			right: 48px;
			width: 64px;
			height: 64px;
			margin: 48px 0;
		}

		@include desktop {
			right: 96px;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;

			svg {
				position: absolute;
				top: calc(50% - 10px);
				left: calc(50% - 10px);
				width: 20px;
				height: 20px;
				color: var(--cl-primary-text);
				transition: 0.25s all ease-in-out;
			}
		}

		&:hover {
			cursor: pointer;
			background: var(--cl-primary-dark);

			svg {
				transform: scale(1.1);
			}
		}
	}

	.button-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 1.5rem;
		@include tablet {
			gap: 3rem;
		}

		.button {
			margin: 0;
		}
	}

	&.hero--grey {
		background-color: var(--cl-grey);
	}

	&.hero--black {
		background-color: var(--cl-black);

		* {
			h1 {
				color: var(--cl-white);
			}

			p {
				color: var(--cl-white);
			}
		}
	}

	&.hero--primary {
		background-color: var(--cl-primary);
		color: var(--cl-white);

		.button-container {
			.button {
				--bg: var(--cl-primary-text);
				--fg: var(--cl-primary);
			}
		}
	}

	&.hero--secondary {
		background-color: var(--cl-secondary);

		.button-container {
			.button {
				--bg: var(--cl-secondary-text);
				--fg: var(--cl-secondary);
			}
		}
	}
}
